<h1>Astronauts</h1>

<% @astronauts.each do |astronaut| %>
  <div id= <%= "#{astronaut.id}" %>>
    <%= astronaut.name %>
    <%= astronaut.age %>
    <%= astronaut.job %>
    <%= astronaut.order_mission_names_by_alphabetical %>
    <%= "Total Time in Space: #{astronaut.total_time_in_space} days" %>
  </div>
<% end %>

<div class = "average_age">
  <%= "Average Age: #{@astronauts.average_age}" %>
</div>