<h1>Astronauts</h1>

<% @astronauts.each do |astronaut| %>
  <div id= <%= "#{astronaut.id}" %>>
    <%= astronaut.name %>
    <%= astronaut.age %>
    <%= astronaut.job %>
  </div>
<% end %>

<div class = "average_age">
  <%= "Average Age: #{@astronauts.average_age}" %>
</div>